.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0 8rem;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.centerImage {
  margin: 0 auto;
  position: absolute;
  width: 80%;
  height:auto;
}

.musicLayout {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    grid-auto-rows: min-content;
    text-align: center;
}

.musicLayout img {
  overflow: hidden;
}

.musicCard {
  display: flex;
  flex-direction: column;
}

.musicImage {
  padding-bottom: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  line-height: 0;
}

.musicImageWrapper {
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}